doctype html
html(lang="en")
  include common/head.pug
  +head("starter MVP")
  body
    h1 Lead
    for lead in data
        p 
            span LeadID: #{lead._id}
            | 
            a(href="/lead/"+lead._id+"/edit") Edita
            | 
            form(action="/lead/" + lead._id + "/delete" , method='POST')
                button(type="submit") Deleta
    
        p Email: #{lead.email}
    include common/footer.pug
    +footer()