extends layout

block content
    h1 Lead
    for lead in data
        p 
            span LeadID: #{lead._id}
            | 
            a(href="/lead/"+lead._id+"/edit") Edita
    
        p Email: #{lead.email}